.theme-light {
  --background-color: #fafafa;
  --main-color: #ffffff;
  --primary-text-color: #494c6b;
  --secondary-text-color: #d1d2da;
  --background-image-desktop: url('../images/bg-desktop-light.jpg');
  --background-image-mobile: url('../images/bg-mobile-light.jpg');
}

.theme-dark {
  --background-color: #171823;
  --main-color: #25273d;
  --primary-text-color: #c8cbe7;
  --secondary-text-color: #4d5067;
  --background-image-desktop: url('../images/bg-desktop-dark.jpg');
  --background-image-mobile: url('../images/bg-mobile-dark.jpg');
}
