.theme-light {
  --background-color: #fafafa;
  --main-color: #ffffff;
  --primary-text-color: #494c6b;
  --secondary-text-color: #9495a5;
}

.theme-dark {
  --background-color: #171823;
  --main-color: #393a4b;
  --primary-text-color: #c8cbe7;
  --secondary-text-color: #5b5e7e;
}
